@inherits ModalTemplate

@* Display a modal popup with more detail information about the selected movie *@

@{
  base.BuildRenderTree(__builder);
}

@code
{
  /// <summary>
  /// The movie to be displayed in the modal. If the movie
  /// is null, then the modal content will not be rendered.
  /// </summary>
  [Parameter]
  public Domain.Aggregates.Movie? Movie { get; set; }

  /// <inheritdoc/>
  protected override void SetHeader()
    => m_modalHeader = __builder =>
    {
      if (Movie is not null)
      { 
        <div class="modal-header">
          <h2 class="modal-title">@Movie.Title (@Movie.Year)</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      }
    };

  /// <inheritdoc/>
  protected override void SetBody()
    => m_modalBody = __builder =>
    {
      if (Movie is not null)
      { 
        <div class="modal-body">
          <div class="card">
            <img class="card-img-top" src="@Movie.BannerUrl">
            <div class="card-body">
              <h4 class="card-title">Directed by</h4>
              <a href="#" class="badge badge-pill" style="margin: 5px 5px;">@Movie.Director</a>

              <h3 class="card-title">Genres</h3>
              @foreach (var genre in Movie.Genres)
              {
                <a href="#" class="badge badge-pill" style="margin: 5px 5px;">@genre.Name</a>
              }

              <h3 class="card-title">Stars</h3>
              @foreach (var star in Movie.Stars)
              {
                <a href="#" class="badge badge-pill" style="margin: 5px 5px;">@star.Name</a>
              }
            </div>
          </div>
        </div>
      }
    };

}
