@page "/"
@using System.Collections.Generic;
@inject MovieService.MovieServiceClient MovieService

<h3>Main Page</h3>

@if (m_errorOccurred)
{
  <Error></Error>
}
else
{
  @if (m_movieAggrs != null)
  {
    <select name="Number of movies" @onchange="PageSizeUpdateHandler">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
    </select>

    <div class="card-columns">
      @foreach (var movieAggr in m_movieAggrs)
      {
        <div class="card" style="width: 17rem;">
          <img class="card-img-top" src="@GetBannerUrl(movieAggr.Movie)">

          <div class="card-body">
            <h3 class="card-title">@movieAggr.Movie.Title</h3>
            <h5 class="card-subtitle">@movieAggr.Movie.Year</h5>
          </div>

          <div class="card-footer">
            <small class="text-muted">
              <button class="btn btn-primary" @onclick="e => SelectMovie(movieAggr)"
                      data-toggle="modal" data-target="#@MovieModalId">
                More Info
              </button>
            </small>
          </div>

        </div>
      }
    </div>
  }
  else
  {
    <Loading></Loading>
  }
}

@* Display a modal popup with more detail information about the selected movie *@
<div class="modal fade" id="@MovieModalId" 
     tabindex="-1" role="dialog" 
     aria-labelledby="@MovieTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    @if (m_selectMovieAggr is not null)
    {
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="@MovieTitleId">@m_selectMovieAggr.Movie.Title (@m_selectMovieAggr.Movie.Year)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="card">
            <img class="card-img-top" src="@GetBannerUrl(m_selectMovieAggr.Movie)">
            <div class="card-body">
              <p class="card-text">Movie detail here</p>
            </div>
          </div>
        </div>

      </div>
    }
  </div>
</div>

@code
{
  private const string MovieModalId = "movieModal";
  private const string MovieTitleId = "movieTitle";

  private bool m_errorOccurred;
  private List<MovieAggregate>? m_movieAggrs;
  private MovieAggregate? m_selectMovieAggr;

  protected async override Task OnInitializedAsync()
  {
    await GetMovies(5);
  }

  /// <summary>
  /// Get the banner url from <paramref name="movie"/>.
  /// If the banner url is empty, then use an unavailable
  /// banner url as the fallback url.
  /// </summary>
  /// <param name="movie">Movie object</param>
  /// <returns>Url to banner</returns>
  private static string GetBannerUrl(Movie movie)
  {
    const string unavailableBannerUrl = "http://www.interlog.com/~tfs/images/posters/TFSMoviePosterUnavailable.jpg";
    return string.IsNullOrWhiteSpace(movie.BannerUrl) ? unavailableBannerUrl : movie.BannerUrl;
  }

  /// <summary>
  /// Get the headshot url from <paramref name="star"/>.
  /// If the url is empty, then use an unavailable
  /// headshot url as the fallback url.
  /// </summary>
  /// <param name="movie">Star object</param>
  /// <returns>Url to headshot</returns>
  private static string GetHeadshotUrl(Star star)
  {
    const string unavailableHeadshotUrl = "http://getdrawings.com/img/unknown-person-silhouette-31.png";
    return string.IsNullOrWhiteSpace(star.Headshot) ? unavailableHeadshotUrl : star.Headshot;
  }

  private async Task PageSizeUpdateHandler(ChangeEventArgs events)
  {
    int.TryParse(events.Value?.ToString(), out int pageSize);
    await GetMovies(pageSize);
  }

  private async Task GetMovies(int pageSize, string token = "")
  {
    try
    {
      var request = new PaginationRequest { PageSize = pageSize, PageToken = token };
      var response = await MovieService.ListMoviesAsync(request);

      m_movieAggrs = new List<MovieAggregate>(response.Movies);
      m_errorOccurred = false;
    }
    catch (Exception ex)
    {
      Console.WriteLine(ex.Message);
      m_errorOccurred = true;
    }
  }

  private void SelectMovie(MovieAggregate movieAggr)
  {
    m_selectMovieAggr = movieAggr;
  }
}
