@page "/movies"

<h3>Movies</h3>

@if (m_errorOccurred)
{
  <Error></Error>
}
else
{
  @if (m_movies != null)
  {
    <select name="Number of movies" @onchange="PageSizeUpdateHandler">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
    </select>

    <div class="card-columns">
      @foreach (var movie in m_movies)
      {
        <div class="card" style="width: 17rem;">
          <img class="card-img-top" src="@movie.BannerUrl">

          <div class="card-body">
            <h3 class="card-title">@movie.Title</h3>
            <h5 class="card-subtitle">@movie.Year</h5>
          </div>

          @foreach (var genre in movie.Genres)
          {
            <a href="#" class="badge badge-pill badge-primary" style="margin: 5px 5px;">@genre.Name</a>
          }

          <div class="card-footer">
            <small class="text-muted">
              <button class="btn btn-primary" @onclick="e => SelectMovie(movie)"
                      data-toggle="modal" data-target="#@MovieModalId">
                More Info
              </button>
            </small>
          </div>

        </div>
      }
    </div>

    <MovieDetails Movie="@m_selectMovie" MovieModalId="@MovieModalId" />
  }
  else
  {
    <Loading></Loading>
  }
}


